@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
    /* overflow: hidden; */
}

.login-container {
    display: flex;
    height: 100vh;
}

.content-container {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    justify-content: center; */
    text-align: start;
    width: 60vw;
    margin: 120px;
    /* margin-left: 240px; */
}

.image-container img {
    height: 100vh;
    width: 40vw;
}

.welcome {
    font-size: 25px;
    font-weight: 500;
    text-align: start;
}

.info {
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;


}

.input-container {
    margin-top: 35px;
}

input {
    outline: none;
    padding: 4px;
    width: 270px;
}

input::placeholder {
    font-size: 10px;
}

input:focus {
    outline: none;
}

.password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    margin-top: 15px;

}

#password {
    margin-bottom: 15px;
}

.password-label a {
    text-decoration: none;
    color: blue;
    font-size: 12px;

}

/* #remember {
    margin-right: 150px;
} */

/* .remember-checkbox {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 20px;
    /* background: red; 
} */


/* .remember-checkbox label {
    text-align: end;
    font-size: 12px;
    text-wrap: nowrap;



} */



.remember-checkbox {
    display: flex;
    gap: 8px;
    margin-top: 12px;

    font-size: 14px;
    color: #333;

}

.remember-checkbox input[type="checkbox"] {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.remember-checkbox label {
    cursor: pointer;
    user-select: none;
    font-size: 12px;
}

.btnLogin {
    width: 260px;
    text-align: center;
    margin-top: 15px;
}

.btnLogin button {
    width: 100%;
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    border: none;
    color: white;
    background-color: green;
    transition: 0.2s ease;
}

.btnLogin button:hover {
    opacity: 0.86;

}

.btnLogin button:active {
    opacity: 1.5;
}

.seperation-styling {
    display: flex;
    width: 270px;
    margin-top: 30px;
    margin-bottom: 40px;
}


.horizontal {
    transform: translateY(10px);
    width: 120px;
    background: lightgrey;
    height: 1px;
}

#or {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 11px;
}


.other-signin-optoins {
    display: flex;
    font-size: 11px;
    gap: 12px;
}

.google {
    border: 1px solid lightgrey;
    width: fit-content;
    border-radius: 12px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.google:hover {
    cursor: not-allowed;
}

.google img {
    width: 25px;
    align-items: center;
    transform: translateY(7px);
}


.apple {
    border: 1px solid lightgrey;
    width: fit-content;
    border-radius: 12px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.apple:hover {
    cursor: not-allowed;
}

.apple img {
    width: 25px;
    align-items: center;
    transform: translateY(7px);
}